<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">99X Shopping Cart Assignment</a>

    <ul class="navbar-nav ml-auto" *ngIf="loginService.isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Add Product</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="loginService.isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
