<div class="container">
  <div class="col-md-12">
    <div class="card-header" align="center">
      <span>Save Products</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group mb-4">
              <label for="productName">Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="productName" name="productName" [(ngModel)]="form.productName"
                     required #productName="ngModel"/>
              <div class="text-danger" *ngIf="productName.errors && f.submitted">
                Name is required!
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="unitsPerCartoon">Units Per Cartoon<span class="text-danger">*</span></label>
              <input type="number" class="form-control" id="unitsPerCartoon" name="unitsPerCartoon" [(ngModel)]="form.unitsPerCartoon"
                     required #unitsPerCartoon="ngModel"/>
              <div class="text-danger" *ngIf="unitsPerCartoon.errors && f.submitted">
                Units Per Cartoon is required!
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="pricePerCartoon">Price Per Cartoon<span class="text-danger">*</span></label>
              <input type="number" class="form-control" id="pricePerCartoon" name="pricePerCartoon" [(ngModel)]="form.pricePerCartoon"
                     required #pricePerCartoon="ngModel"/>
              <div class="text-danger" *ngIf="pricePerCartoon.errors && f.submitted">
                Price Per Cartoon is required!
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="unitDiscount">Discount for Single Unit<span class="text-danger">*</span></label>
              <input type="number" class="form-control" id="unitDiscount" name="unitDiscount" [(ngModel)]="form.unitDiscount"
                     required #unitDiscount="ngModel"/>
              <div class="text-danger" *ngIf="unitDiscount.errors && f.submitted">
                Unit Discount is required!
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="cartoonDiscount">Cartoon Discount<span class="text-danger">*</span></label>
              <input type="number" class="form-control" id="cartoonDiscount" name="cartoonDiscount" [(ngModel)]="form.cartoonDiscount"
                     required #cartoonDiscount="ngModel"/>
              <div class="text-danger" *ngIf="cartoonDiscount.errors && f.submitted">
                Cartoon Discount is required!
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="discountEligibility">Discount Eligibility<span class="text-danger">*</span></label>
              <input type="number" class="form-control" id="discountEligibility" name="discountEligibility" [(ngModel)]="form.discountEligibility"
                     required #discountEligibility="ngModel"/>
              <div class="text-danger" *ngIf="discountEligibility.errors && f.submitted">
                Discount Eligibility is required!
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="productImage">Image</label>
              <input type="text" class="form-control" id="productImage" name="productImage" [(ngModel)]="form.productImage"
                     #productImage="ngModel"/>
            </div>

            <div class="input-group mb-4">
              <button class="btn btn-primary btn-block">
                Save
              </button>
            </div>

          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>
