<div class="modal-sm">
  <div class="card">
    <div class="card-header">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group mb-4">
          <label for="qty">Quantity<span class="text-danger">*</span></label>
          <input type="number" value="{{qty}}" class="form-control" id="qty" name="qty" [(ngModel)]="form.qty"
                 required #qty="ngModel"/>
          <div class="text-danger" *ngIf="qty.errors && f.submitted">
            Quantity is required!
          </div>
        </div>
        <div class="input-group mb-4">
          <button class="btn btn-success">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
