<div class="container">
  <div class="col-md-12">
    <div class="card-header">
      <div class="row top-space">
      </div>
    </div>
    <div class="card-body">
      <div class="row top-space">
        <div class="col-md-8">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Image</th>
                <th scope="col">Units Per Cartoon</th>
                <th scope="col">Price Per Cartoon</th>
                <th scope="col">Description</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of productArray.data; let i = index">
                <td>{{i + 1}}</td>
                <td>{{product.name}}</td>
                <td><img alt="image" style="border: 1px solid #dddddd; border-radius: 4px; padding: 5px; width: 120px;" class="img-fluid"
                         src="{{product.image}}"/></td>
                <td>{{product.units_per_cartoon}}</td>
                <td>{{product.price_per_cartoon}}</td>
                <td>
                  <ul>
                    <li>If you purchase single units, the price is acquired using the carton price multiplied by an
                      increase of {{product.unit_discount * 100}}%
                    </li>
                    <li>If you purchased {{product.discount_eligibility}} carton or more, you will
                      receive {{product.cartoon_discount * 100}}% discount off the carton price
                    </li>
                  </ul>
                  <ul>
                    <div class="row">
                      <div class="col-sm-4">
                        Cartoons
                      </div>
                      <div class="col-sm-8">
                        <app-snippet-button [isCarton]="true"
                                            [product]="product">
                        </app-snippet-button>
                      </div>
                    </div>
                  </ul>
                  <ul>
                    <div class="row">
                      <div class="col-sm-4">
                        Units
                      </div>
                      <div class="col-sm-8">
                        <app-snippet-button [isCarton]="false"
                                            [product]="product">
                        </app-snippet-button>
                      </div>
                    </div>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-header">
            Shopping Cart
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Qty (Unit)</th>
                <th scope="col">Price</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cart of homeService.cartArray.data; let i = index">
                <td>{{i + 1}}</td>
                <td>{{cart.product_name}}</td>
                <td>{{cart.qty}}</td>
                <td>{{cart.price}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row top-space"></div>

    </div>
    <div class="card-footer"></div>


  </div>
</div>
