<div class="container">
  <div class="col-md-12">
    <div class="card-header">
      <div class="row top-space">
      </div>
    </div>
    <div class="card-body">
      <div class="row top-space">
        <div class="col-md-8">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Image</th>
                <th scope="col">Units Per Cartoon</th>
                <th scope="col">Price Per Cartoon</th>
                <th scope="col">Description</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of productArray.data; let i = index">
                <td>{{i + 1}}</td>
                <td>
                  {{product.name}} <br/>
                  <button type="button" class="btn btn-link" (click)="more(product)">More>></button>
                </td>
                <td><img alt="image" style="border: 1px solid #dddddd; border-radius: 4px; padding: 5px; width: 120px;"
                         class="img-fluid"
                         src="{{product.image}}"/></td>
                <td>{{product.units_per_cartoon}}</td>
                <td>{{product.price_per_cartoon}}</td>
                <td>
                  <ul>
                    <div class="row">
                      <div class="col-sm-4">
                        Cartoons
                      </div>
                      <div class="col-sm-8">
                        <app-snippet-button [isCarton]="true"
                                            [product]="product">
                        </app-snippet-button>
                      </div>
                    </div>
                  </ul>
                  <ul>
                    <div class="row">
                      <div class="col-sm-4">
                        Units
                      </div>
                      <div class="col-sm-8">
                        <app-snippet-button [isCarton]="false"
                                            [product]="product">
                        </app-snippet-button>
                      </div>
                    </div>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-header">
            Shopping Cart
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Qty (Units)</th>
                <th scope="col">Price</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cart of cartService.cartArray.data; let i = index">
                <td>{{i + 1}}</td>
                <td>{{cart.product_name}}</td>
                <td>{{cart.qty}}</td>
                <td>{{cart.price}}</td>
                <td class="btn-group">
                  <button class="btn btn-primary btn-sm" (click)="edit(cart)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-fill" viewBox="0 0 16 16">
                      <path
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="remove(cart)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </button>
                </td>
              </tr>
              <tr>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row top-space"></div>

    </div>
    <div class="card-footer"></div>


  </div>
</div>
