<div class="modal-sm">
  <div class="card">
    <div class="card-header">
      More Details
    </div>
    <div class="card-body">
      <ul>
        <li>If you purchase single units, the price is acquired using the carton price multiplied by an
          increase of {{product.unit_discount * 100}}%
        </li>
        <li>If you purchased {{product.discount_eligibility}} carton or more, you will
          receive {{product.cartoon_discount * 100}}% discount off the carton price
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
      </div>
    </div>
  </div>
</div>
